body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

section.wraper{
    width: 100%;
    background-color: rgb(68, 57, 57);
    margin: 0 auto;
}
section.main{
    width: 80%;
    margin: 0 auto;
    background-color: white;
}
div.top-photo{
    margin: 0 auto;
    width: 100%;
    background: black;
    
}
div.top-photo img{
    width: 200px;
    border: 5px solid rgb(63, 52, 52);
    border-radius: 50%;
}
.pad{
    padding: 0 30px;
}
section.banner{
    display: flex;
}
.banner-photo img{
    width: 80%;
    height: auto;
}
.jone-lee{
    color: red;
}
.name{
    padding-right: 200px;
}
.name p{
    text-align: justify;
}

.social-icon{
    display: flex;
}
.social-icon-left img{
width: 10%;
box-shadow: 5px 5px 10px gray;
}
.boxes1{
    display: flex;
}
.box1{
    box-shadow: -1px 1px 3px 3px rgba(218, 214, 214, 0.75);
    margin: 20px;
    padding: 20px;
}
.box2{
    display: flex;
}


.what-id-do-color{
    color: red;
    text-align: center;
}